/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/addons/oci-hub-models/ @vavardan
/addons/oci-sovereign-controls/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
