/workload-extensions/ocvs/ @hrvolapeter
/workload-extensions/ebs/ @rphibbert
/addons/oci-hub-models/ @vavardan @paalonso
/addons/oci-sovereign-controls/ @vavardan @hrvolapeter @paolajuarezgomez
/addons/oci-lz-subnetting/ @paolajuarezgomez @paalonso
/blueprints/one-oe/runtime/ @paalonso
/blueprints/multi-oe/generic_v1/runtime/ @paalonso
/blueprints/multi-oe/saas/runtime/ @paalonso
