{
    "fingerprint": "<PEM key fingerprint>",
    "private_key_path": "<path to the private key that matches the fingerprint above>",
    "region": "<your region>",
    "tenancy_ocid": "<tenancy OCID>",
    "user_ocid": "<user OCID>",
    "home_region": "<home region>",
    "private_key_password": "<private key pwd>"
}